@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="Shortcut Icon" type="image/ico" href="https://sendy.colorlib.com/img/favicon.png">
    <title>Thanh toán thành công!</title>
    <style type="text/css">
        body {
            background: #f7f9fc;
            font-family: Helvetica, Arial;
        }

        #wrapper {
            background: #ffffff;
            -webkit-box-shadow: 0px 16px 46px -22px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 16px 46px -22px rgba(0,0,0,0.75);
            box-shadow: 0px 16px 46px -22px rgba(0,0,0,0.75);
            width: 310px;
            padding-bottom: 10px;
            margin: -180px 0 0 -150px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        p {
            text-align: center;
        }

        h2 {
            font-weight: normal;
            text-align: center;
        }

        a {
            color: #000;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        #top-pattern {
            margin-top: -8px;
            height: 8px;
            background: url("https://sendy.colorlib.com/img/top-pattern2.gif") repeat-x 0 0;
            background-size: auto 8px;
        }
    </style>
</head>

<body>
    <div id="top-pattern"></div>
    <div id="wrapper">
        <h2>@ViewBag.Message</h2>
        <p><img src="https://i.pinimg.com/originals/b5/6f/2a/b56f2a809c29d388ce9386988cf0e768.gif" height="150"></p><p></p>
    </div>
</body>
</html>

